.jumbotron {
  padding-top: 8rem;
  background-color: #fafdd6;
}

#projects {
  background-color: #fafdd6;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .padding-row > * {
  padding: 0;
}
